In [4]:
from os import truncate
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *
import re

# Загрузка и вывод схемы: Загрузите файл retail_store_sales.csv.
# Выведите первые 5 строк загруженного DataFrame и его схему (df.printSchema()).
spark = SparkSession.builder \
        .appName('retail_store_sales') \
        .getOrCreate()

df = spark.read.options(header='True',inferSchema='True',delimiter=',') \
  .csv("retail_store_sales.csv")

df.show(5, truncate=False)
df.printSchema()

# Очистка названий столбцов: Преобразуйте названия всех столбцов к единому регистру - snake_case.
# Выведите обновленную схему DataFrame  или названия столбцов, чтобы убедиться в изменении названий.
def to_snake(name: str) -> str:
    s = re.sub(r'[.\s\-]+', '_', name)                            # пробелы/точки/дефисы → _
    s = re.sub(r'([A-Z]+)([A-Z][a-z])', r'\1_\2', s)              # HTTPServer → HTTP_Server
    s = re.sub(r'([a-z0-9])([A-Z])', r'\1_\2', s)                 # orderID → order_ID
    s = re.sub(r'[^0-9A-Za-z_]', '', s)                           # убрать прочие символы
    s = re.sub(r'_+', '_', s).strip('_').lower()                  # одинарные _, нижний регистр
    return s or "col"

def dedupe(names):
    seen, out = set(), []
    for n in names:
        base, k, m = n, 1, n
        while m in seen:
            k += 1
            m = f"{base}_{k}"
        seen.add(m)
        out.append(m)
    return out

new_cols = dedupe([to_snake(c) for c in df.columns])
df_snake = df.toDF(*new_cols)
df_snake.printSchema()

# Преобразование типов данных: Проанализируйте к каким типам данных относятся данные в столбцах и приведите столбец к соответствующему типу.
# Убедитесь, что некорректные или отсутствующие значения преобразуются в null в соответствующих типах данных.
# inferSchema='True' определяет типы столбцов на основе данных, в колонках нет псевдо-null значений

#  Восстановление отсутствующих item:
# Так как данные статические для каждого товара, то составьте справочник товаров в отдельный DataFrame с Category, Item и Price Rer Unit.
# Для транзакций, где отсутствует название товара, но имеется категория и цена,
# попытайтесь определить название товара, путём объединения (join) с загруженным справочником товаров.
# Выведите 20 строк, демонстрирующих восстановленные значения.

product_dict = (df_snake
    .select("category", "price_per_unit", "item")
    .where(F.col("item").isNotNull())
    .groupBy("category", "price_per_unit")
    .agg(F.first("item", ignorenulls=True).alias("item_ref"))
)
to_fix = df_snake.where(
    F.col("item").isNull() &
    F.col("category").isNotNull() &
    F.col("price_per_unit").isNotNull()
)
restored = (to_fix.alias("t")
    .join(F.broadcast(product_dict).alias("d"), ["category","price_per_unit"], "left")
    .withColumn("item_restored", F.col("d.item_ref"))
    .where(F.col("item_restored").isNotNull())
)
restored.select(
    "transaction_id", "category", "price_per_unit",
    F.col("t.item").alias("item_before"),
    "item_restored"
).show(20, truncate=False)

# Восстановление Total Spent:  Найдите все транзакции, с пропусками в общей сумме и обновите ее,
# пересчитав её как quantity * price_per_unit для всех записей.
df_recalc = df_snake.withColumn(
    "total_spent",
    F.when(
        F.col("quantity").isNotNull() & F.col("price_per_unit").isNotNull(),
        F.round(F.col("quantity") * F.col("price_per_unit"), 2)
    ).otherwise(F.lit(None).cast("double"))
)
df_recalc.show(20, truncate=False)

# Заполнение отсутствующих Quantity и Rrice Rer Unit:
# Для транзакций, где отсутствуют значения о количестве проданного товара , но имеются сумма транзакции и цена за товар ,
# вычислите количество проданного товара и заполните пропущенные значения. Результат приведите к целому числу.
# Аналогично, если  отсутствует цена за единицу товара , но общая сумма и количество имеются, вычислите цену за единицу
# и заполните пропущенные значения. Округлите до двух знаков после запятой. Выведите 20 строк, демонстрирующих заполненные значения.
calc_quantity = F.when(
    F.col("quantity").isNull() &
    F.col("total_spent").isNotNull() &
    F.col("price_per_unit").isNotNull() &
    (F.col("price_per_unit") != 0),
    F.round(F.col("total_spent") / F.col("price_per_unit"), 0).cast(IntegerType())
)

calc_price = F.when(
    F.col("price_per_unit").isNull() &
    F.col("total_spent").isNotNull() &
    F.col("quantity").isNotNull() &
    (F.col("quantity") != 0),
    F.round(F.col("total_spent") / F.col("quantity"), 2).cast(DoubleType())
)

df_calc = (df_snake
    .withColumn("calc_quantity", calc_quantity)
    .withColumn("calc_price_per_unit", calc_price)
)

df_filled = (df_calc
    .withColumn("quantity", F.coalesce(F.col("quantity"), F.col("calc_quantity")))
    .withColumn("price_per_unit", F.coalesce(F.col("price_per_unit"), F.col("calc_price_per_unit")))
    .drop("calc_quantity", "calc_price_per_unit")
)


df_filled.show(20, truncate=False)

# Удалите оставшиеся строки с пропусками в Category, Quantity ,Total Spent и Rrice Rer Unit
df_clean = df_filled.filter(
    F.col("category").isNotNull() &
    F.col("quantity").isNotNull() &
    F.col("total_spent").isNotNull() &
    F.col("price_per_unit").isNotNull()
)
df_clean.show(20, truncate=False)

# Самые популярные категории товаров: Рассчитайте общее количество проданных единиц товара  для каждой категории.
# Определите Топ-5 категорий по общему количеству проданных единиц.
top5 = (df_clean
    .groupBy("category")
    .agg(F.sum(F.col("quantity")).alias("total_units"))
    .orderBy(F.desc("total_units"), F.asc("category"))
    .limit(5)
)
top5.show(truncate=False)

# Рассчитайте среднее значение Total Spent для каждого метода оплаты. Округлите до двух знаков после запятой.
avg_by_payment = (df_clean
    .where(F.col("payment_method").isNotNull())
    .groupBy("payment_method")
    .agg(F.round(F.avg("total_spent"), 2).alias("avg_total_spent"))
    .orderBy(F.desc("avg_total_spent"), F.asc("payment_method"))
)
avg_by_payment.show(truncate=False)

# Рассчитайте среднее значение Total Spent для каждой места где прошла оплата. Округлите до двух знаков после запятой.
avg_by_location = (df_clean
    .where(F.col("location").isNotNull())
    .groupBy("location")
    .agg(F.round(F.avg("total_spent"), 2).alias("avg_total_spent"))
    .orderBy(F.desc("avg_total_spent"), F.asc("location"))
)
avg_by_location.show(truncate=False)

# Временные признаки: Добавьте два новых столбца на основе Transaction Date:
# day_of_week: День недели
# transaction_month: Месяц транзакции
df_feat = (df_clean
    .withColumn("day_of_week_num", F.dayofweek("transaction_date"))
    .withColumn("day_of_week", F.date_format("transaction_date", "EEEE"))
    .withColumn("transaction_month", F.date_format("transaction_date", "yyyy-MM"))
)

# Продажи по дням недели: Рассчитайте среднюю сумму продаж (Total Spent) для каждого дня недели.
# Выведите результаты, отсортированные по дням недели.
avg_by_weekday = (df_feat
    .groupBy("day_of_week", "day_of_week_num")
    .agg(F.round(F.avg("total_spent"), 2).alias("avg_total_spent"))
    .orderBy(((F.col("day_of_week_num") + 5) % 7 + 1).asc())  # делаем порядок Monday=1 ... Sunday=7
    .select("day_of_week", "avg_total_spent")
)
avg_by_weekday.show(truncate=False)

# Продажи по месяцам: Рассчитайте среднюю сумму продаж (Total Spent)  для каждого месяца. Выведите результаты, отсортированные по месяцам.
avg_by_month = (df_feat
    .groupBy("transaction_month")
    .agg(F.round(F.avg("total_spent"), 2).alias("avg_total_spent"))
    .orderBy("transaction_month")
)
avg_by_month.show(truncate=False)

# Рассчитайте customer_lifetime_value (CLV) для каждого клиента как общую сумму (Total Spent), потраченную этим клиентом за все транзакции.
# Выведите Топ-10 клиентов по их CLV (customer_id и их CLV).
top10_clv = (df_feat
    .groupBy("customer_id")
    .agg(F.round(F.sum("total_spent"), 2).alias("clv"))
    .orderBy(F.col("clv").desc())
    .limit(10)
)
top10_clv.show(truncate=False)

spark.stop()

+--------------+-----------+-------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
|Transaction ID|Customer ID|Category     |Item        |Price Per Unit|Quantity|Total Spent|Payment Method|Location|Transaction Date|Discount Applied|
+--------------+-----------+-------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
|TXN_6867343   |CUST_09    |Patisserie   |Item_10_PAT |18.5          |10.0    |185.0      |Digital Wallet|Online  |2024-04-08      |true            |
|TXN_3731986   |CUST_22    |Milk Products|Item_17_MILK|29.0          |9.0     |261.0      |Digital Wallet|Online  |2023-07-23      |true            |
|TXN_9303719   |CUST_02    |Butchers     |Item_12_BUT |21.5          |2.0     |43.0       |Credit Card   |Online  |2022-10-05      |false           |
|TXN_9458126   |CUST_06    |Beverages    |Item_16_BEV |27.5          |9.0     |247.5      |Credit Card   |Online  |2022-05-07      |NULL            |
|TXN_4575373   |CUST_05    |Food         |Item_6_FOOD |12.5          |7.0     |87.5       |Digital Wallet|Online  |2022-10-02      |false           |
+--------------+-----------+-------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
only showing top 5 rows

root
 |-- Transaction ID: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Price Per Unit: double (nullable = true)
 |-- Quantity: double (nullable = true)
 |-- Total Spent: double (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Transaction Date: date (nullable = true)
 |-- Discount Applied: boolean (nullable = true)

root
 |-- transaction_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- category: string (nullable = true)
 |-- item: string (nullable = true)
 |-- price_per_unit: double (nullable = true)
 |-- quantity: double (nullable = true)
 |-- total_spent: double (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- location: string (nullable = true)
 |-- transaction_date: date (nullable = true)
 |-- discount_applied: boolean (nullable = true)

+--------------+----------------------------------+--------------+-----------+-------------+
|transaction_id|category                          |price_per_unit|item_before|item_restored|
+--------------+----------------------------------+--------------+-----------+-------------+
|TXN_1372952   |Furniture                         |33.5          |NULL       |Item_20_FUR  |
|TXN_1809665   |Beverages                         |24.5          |NULL       |Item_14_BEV  |
|TXN_4206593   |Furniture                         |35.0          |NULL       |Item_21_FUR  |
|TXN_3481599   |Furniture                         |39.5          |NULL       |Item_24_FUR  |
|TXN_1621497   |Patisserie                        |23.0          |NULL       |Item_13_PAT  |
|TXN_4532214   |Patisserie                        |15.5          |NULL       |Item_8_PAT   |
|TXN_5419965   |Computers and electric accessories|20.0          |NULL       |Item_11_CEA  |
|TXN_8210621   |Beverages                         |39.5          |NULL       |Item_24_BEV  |
|TXN_8586300   |Computers and electric accessories|27.5          |NULL       |Item_16_CEA  |
|TXN_1154680   |Furniture                         |35.0          |NULL       |Item_21_FUR  |
|TXN_9177662   |Furniture                         |24.5          |NULL       |Item_14_FUR  |
|TXN_1175914   |Butchers                          |23.0          |NULL       |Item_13_BUT  |
|TXN_9610555   |Beverages                         |6.5           |NULL       |Item_2_BEV   |
|TXN_1811555   |Food                              |30.5          |NULL       |Item_18_FOOD |
|TXN_9246169   |Electric household essentials     |38.0          |NULL       |Item_23_EHE  |
|TXN_9410785   |Furniture                         |12.5          |NULL       |Item_6_FUR   |
|TXN_9130896   |Food                              |20.0          |NULL       |Item_11_FOOD |
|TXN_3096445   |Computers and electric accessories|32.0          |NULL       |Item_19_CEA  |
|TXN_8838958   |Computers and electric accessories|15.5          |NULL       |Item_8_CEA   |
|TXN_4351153   |Food                              |17.0          |NULL       |Item_9_FOOD  |
+--------------+----------------------------------+--------------+-----------+-------------+
only showing top 20 rows

+--------------+-----------+-----------------------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
|transaction_id|customer_id|category                     |item        |price_per_unit|quantity|total_spent|payment_method|location|transaction_date|discount_applied|
+--------------+-----------+-----------------------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
|TXN_6867343   |CUST_09    |Patisserie                   |Item_10_PAT |18.5          |10.0    |185.0      |Digital Wallet|Online  |2024-04-08      |true            |
|TXN_3731986   |CUST_22    |Milk Products                |Item_17_MILK|29.0          |9.0     |261.0      |Digital Wallet|Online  |2023-07-23      |true            |
|TXN_9303719   |CUST_02    |Butchers                     |Item_12_BUT |21.5          |2.0     |43.0       |Credit Card   |Online  |2022-10-05      |false           |
|TXN_9458126   |CUST_06    |Beverages                    |Item_16_BEV |27.5          |9.0     |247.5      |Credit Card   |Online  |2022-05-07      |NULL            |
|TXN_4575373   |CUST_05    |Food                         |Item_6_FOOD |12.5          |7.0     |87.5       |Digital Wallet|Online  |2022-10-02      |false           |
|TXN_7482416   |CUST_09    |Patisserie                   |NULL        |NULL          |10.0    |NULL       |Credit Card   |Online  |2023-11-30      |NULL            |
|TXN_3652209   |CUST_07    |Food                         |Item_1_FOOD |5.0           |8.0     |40.0       |Credit Card   |In-store|2023-06-10      |true            |
|TXN_1372952   |CUST_21    |Furniture                    |NULL        |33.5          |NULL    |NULL       |Digital Wallet|In-store|2024-04-02      |true            |
|TXN_9728486   |CUST_23    |Furniture                    |Item_16_FUR |27.5          |1.0     |27.5       |Credit Card   |In-store|2023-04-26      |false           |
|TXN_2722661   |CUST_25    |Butchers                     |Item_22_BUT |36.5          |3.0     |109.5      |Cash          |Online  |2024-03-14      |false           |
|TXN_8776416   |CUST_22    |Butchers                     |Item_3_BUT  |8.0           |9.0     |72.0       |Cash          |In-store|2024-12-14      |true            |
|TXN_5422631   |CUST_09    |Milk Products                |NULL        |NULL          |8.0     |NULL       |Digital Wallet|In-store|2025-01-12      |true            |
|TXN_5874772   |CUST_23    |Food                         |Item_2_FOOD |6.5           |7.0     |45.5       |Cash          |Online  |2023-09-09      |true            |
|TXN_4413070   |CUST_14    |Patisserie                   |Item_24_PAT |39.5          |6.0     |237.0      |Digital Wallet|In-store|2022-05-20      |false           |
|TXN_2490363   |CUST_09    |Milk Products                |Item_16_MILK|27.5          |2.0     |55.0       |Digital Wallet|Online  |2022-05-22      |NULL            |
|TXN_1809665   |CUST_14    |Beverages                    |NULL        |24.5          |NULL    |NULL       |Credit Card   |In-store|2022-05-11      |NULL            |
|TXN_7563311   |CUST_23    |Patisserie                   |Item_17_PAT |29.0          |8.0     |232.0      |Cash          |Online  |2024-11-16      |true            |
|TXN_9634894   |CUST_15    |Milk Products                |NULL        |NULL          |10.0    |NULL       |Digital Wallet|Online  |2022-04-17      |NULL            |
|TXN_4396807   |CUST_17    |Electric household essentials|Item_13_EHE |23.0          |1.0     |23.0       |Digital Wallet|In-store|2022-02-07      |false           |
|TXN_4206593   |CUST_01    |Furniture                    |NULL        |35.0          |NULL    |NULL       |Digital Wallet|Online  |2025-01-13      |false           |
+--------------+-----------+-----------------------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
only showing top 20 rows

+--------------+-----------+-----------------------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
|transaction_id|customer_id|category                     |item        |price_per_unit|quantity|total_spent|payment_method|location|transaction_date|discount_applied|
+--------------+-----------+-----------------------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
|TXN_6867343   |CUST_09    |Patisserie                   |Item_10_PAT |18.5          |10.0    |185.0      |Digital Wallet|Online  |2024-04-08      |true            |
|TXN_3731986   |CUST_22    |Milk Products                |Item_17_MILK|29.0          |9.0     |261.0      |Digital Wallet|Online  |2023-07-23      |true            |
|TXN_9303719   |CUST_02    |Butchers                     |Item_12_BUT |21.5          |2.0     |43.0       |Credit Card   |Online  |2022-10-05      |false           |
|TXN_9458126   |CUST_06    |Beverages                    |Item_16_BEV |27.5          |9.0     |247.5      |Credit Card   |Online  |2022-05-07      |NULL            |
|TXN_4575373   |CUST_05    |Food                         |Item_6_FOOD |12.5          |7.0     |87.5       |Digital Wallet|Online  |2022-10-02      |false           |
|TXN_7482416   |CUST_09    |Patisserie                   |NULL        |20.0          |10.0    |200.0      |Credit Card   |Online  |2023-11-30      |NULL            |
|TXN_3652209   |CUST_07    |Food                         |Item_1_FOOD |5.0           |8.0     |40.0       |Credit Card   |In-store|2023-06-10      |true            |
|TXN_1372952   |CUST_21    |Furniture                    |NULL        |33.5          |NULL    |NULL       |Digital Wallet|In-store|2024-04-02      |true            |
|TXN_9728486   |CUST_23    |Furniture                    |Item_16_FUR |27.5          |1.0     |27.5       |Credit Card   |In-store|2023-04-26      |false           |
|TXN_2722661   |CUST_25    |Butchers                     |Item_22_BUT |36.5          |3.0     |109.5      |Cash          |Online  |2024-03-14      |false           |
|TXN_8776416   |CUST_22    |Butchers                     |Item_3_BUT  |8.0           |9.0     |72.0       |Cash          |In-store|2024-12-14      |true            |
|TXN_5422631   |CUST_09    |Milk Products                |NULL        |6.5           |8.0     |52.0       |Digital Wallet|In-store|2025-01-12      |true            |
|TXN_5874772   |CUST_23    |Food                         |Item_2_FOOD |6.5           |7.0     |45.5       |Cash          |Online  |2023-09-09      |true            |
|TXN_4413070   |CUST_14    |Patisserie                   |Item_24_PAT |39.5          |6.0     |237.0      |Digital Wallet|In-store|2022-05-20      |false           |
|TXN_2490363   |CUST_09    |Milk Products                |Item_16_MILK|27.5          |2.0     |55.0       |Digital Wallet|Online  |2022-05-22      |NULL            |
|TXN_1809665   |CUST_14    |Beverages                    |NULL        |24.5          |NULL    |NULL       |Credit Card   |In-store|2022-05-11      |NULL            |
|TXN_7563311   |CUST_23    |Patisserie                   |Item_17_PAT |29.0          |8.0     |232.0      |Cash          |Online  |2024-11-16      |true            |
|TXN_9634894   |CUST_15    |Milk Products                |NULL        |27.5          |10.0    |275.0      |Digital Wallet|Online  |2022-04-17      |NULL            |
|TXN_4396807   |CUST_17    |Electric household essentials|Item_13_EHE |23.0          |1.0     |23.0       |Digital Wallet|In-store|2022-02-07      |false           |
|TXN_4206593   |CUST_01    |Furniture                    |NULL        |35.0          |NULL    |NULL       |Digital Wallet|Online  |2025-01-13      |false           |
+--------------+-----------+-----------------------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
only showing top 20 rows

+--------------+-----------+-----------------------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
|transaction_id|customer_id|category                     |item        |price_per_unit|quantity|total_spent|payment_method|location|transaction_date|discount_applied|
+--------------+-----------+-----------------------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
|TXN_6867343   |CUST_09    |Patisserie                   |Item_10_PAT |18.5          |10.0    |185.0      |Digital Wallet|Online  |2024-04-08      |true            |
|TXN_3731986   |CUST_22    |Milk Products                |Item_17_MILK|29.0          |9.0     |261.0      |Digital Wallet|Online  |2023-07-23      |true            |
|TXN_9303719   |CUST_02    |Butchers                     |Item_12_BUT |21.5          |2.0     |43.0       |Credit Card   |Online  |2022-10-05      |false           |
|TXN_9458126   |CUST_06    |Beverages                    |Item_16_BEV |27.5          |9.0     |247.5      |Credit Card   |Online  |2022-05-07      |NULL            |
|TXN_4575373   |CUST_05    |Food                         |Item_6_FOOD |12.5          |7.0     |87.5       |Digital Wallet|Online  |2022-10-02      |false           |
|TXN_7482416   |CUST_09    |Patisserie                   |NULL        |20.0          |10.0    |200.0      |Credit Card   |Online  |2023-11-30      |NULL            |
|TXN_3652209   |CUST_07    |Food                         |Item_1_FOOD |5.0           |8.0     |40.0       |Credit Card   |In-store|2023-06-10      |true            |
|TXN_9728486   |CUST_23    |Furniture                    |Item_16_FUR |27.5          |1.0     |27.5       |Credit Card   |In-store|2023-04-26      |false           |
|TXN_2722661   |CUST_25    |Butchers                     |Item_22_BUT |36.5          |3.0     |109.5      |Cash          |Online  |2024-03-14      |false           |
|TXN_8776416   |CUST_22    |Butchers                     |Item_3_BUT  |8.0           |9.0     |72.0       |Cash          |In-store|2024-12-14      |true            |
|TXN_5422631   |CUST_09    |Milk Products                |NULL        |6.5           |8.0     |52.0       |Digital Wallet|In-store|2025-01-12      |true            |
|TXN_5874772   |CUST_23    |Food                         |Item_2_FOOD |6.5           |7.0     |45.5       |Cash          |Online  |2023-09-09      |true            |
|TXN_4413070   |CUST_14    |Patisserie                   |Item_24_PAT |39.5          |6.0     |237.0      |Digital Wallet|In-store|2022-05-20      |false           |
|TXN_2490363   |CUST_09    |Milk Products                |Item_16_MILK|27.5          |2.0     |55.0       |Digital Wallet|Online  |2022-05-22      |NULL            |
|TXN_7563311   |CUST_23    |Patisserie                   |Item_17_PAT |29.0          |8.0     |232.0      |Cash          |Online  |2024-11-16      |true            |
|TXN_9634894   |CUST_15    |Milk Products                |NULL        |27.5          |10.0    |275.0      |Digital Wallet|Online  |2022-04-17      |NULL            |
|TXN_4396807   |CUST_17    |Electric household essentials|Item_13_EHE |23.0          |1.0     |23.0       |Digital Wallet|In-store|2022-02-07      |false           |
|TXN_9939063   |CUST_14    |Beverages                    |Item_7_BEV  |14.0          |9.0     |126.0      |Digital Wallet|In-store|2024-01-14      |NULL            |
|TXN_8685338   |CUST_15    |Milk Products                |NULL        |35.0          |3.0     |105.0      |Credit Card   |In-store|2023-10-29      |NULL            |
|TXN_6547964   |CUST_10    |Electric household essentials|Item_4_EHE  |9.5           |7.0     |66.5       |Cash          |In-store|2022-08-15      |NULL            |
+--------------+-----------+-----------------------------+------------+--------------+--------+-----------+--------------+--------+----------------+----------------+
only showing top 20 rows

+-----------------------------+-----------+
|category                     |total_units|
+-----------------------------+-----------+
|Furniture                    |8462.0     |
|Food                         |8387.0     |
|Beverages                    |8358.0     |
|Milk Products                |8339.0     |
|Electric household essentials|8309.0     |
+-----------------------------+-----------+

+--------------+---------------+
|payment_method|avg_total_spent|
+--------------+---------------+
|Cash          |131.05         |
|Credit Card   |129.13         |
|Digital Wallet|128.72         |
+--------------+---------------+

+--------+---------------+
|location|avg_total_spent|
+--------+---------------+
|Online  |130.42         |
|In-store|128.86         |
+--------+---------------+

+-----------+---------------+
|day_of_week|avg_total_spent|
+-----------+---------------+
|Monday     |125.57         |
|Tuesday    |129.51         |
|Wednesday  |126.82         |
|Thursday   |129.28         |
|Friday     |134.64         |
|Saturday   |131.49         |
|Sunday     |130.18         |
+-----------+---------------+

+-----------------+---------------+
|transaction_month|avg_total_spent|
+-----------------+---------------+
|2022-01          |143.78         |
|2022-02          |138.42         |
|2022-03          |120.93         |
|2022-04          |121.08         |
|2022-05          |128.09         |
|2022-06          |132.64         |
|2022-07          |127.43         |
|2022-08          |124.87         |
|2022-09          |136.84         |
|2022-10          |126.58         |
|2022-11          |125.78         |
|2022-12          |133.1          |
|2023-01          |132.74         |
|2023-02          |131.15         |
|2023-03          |132.88         |
|2023-04          |126.32         |
|2023-05          |127.3          |
|2023-06          |126.41         |
|2023-07          |128.18         |
|2023-08          |125.71         |
+-----------------+---------------+
only showing top 20 rows

+-----------+-------+
|customer_id|clv    |
+-----------+-------+
|CUST_24    |68452.0|
|CUST_08    |67351.5|
|CUST_05    |66974.5|
|CUST_16    |65570.5|
|CUST_13    |65037.0|
|CUST_23    |64507.0|
|CUST_10    |63155.5|
|CUST_15    |63117.5|
|CUST_21    |62933.0|
|CUST_02    |62046.5|
+-----------+-------+